/*.background{
    background-image:url("https://wallpapers.com/images/hd/anime-all-characters-hd-4r9pb6ju4v1b0m48.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin:290px;
    opacity:1;/*  OPACITY DOESNT WORK*/
} */

